.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.footer p {
  color: white;
  opacity: 0.5;
}

.footer .list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.footer .list-inline {
  list-style: none;
  padding-left: 0px;
}
.footer .fab{
  font-size: 30px;
  color: white;
  opacity: .7;
}

